<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <script src="https://kit.fontawesome.com/165661db0d.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="style.css" />
        <title>Happy Birthday</title>
    </head>
    
    <body>
        
        <header>
            <h1 class="heading">
               <i class="fa-solid fa-cake-candles"></i>Happy Birthday<i class="fa-solid fa-cake-candles"></i>
            </h1>
        </header>
        
        <div class="main-visual">
            <div class="main-visual-content">
                <p class="main-visual-text">
                    <i class="fa-solid fa-cross"></i>This site was created for one beautiful woman.<i class="fa-solid fa-cross"></i>
                </p>
                <p class="main-visual-name">
                    <i class="fa-regular fa-star"></i>June 13th, 2023<i class="fa-regular fa-star"></i>
                </p>
            </div>
        </div>
        
        <main>
            
                <p class="main-text">
                <i class="fa-regular fa-heart"></i>もえちゃんへ<i class="fa-regular fa-heart"></i><br />
                25歳の誕生日おめでとう‼<br />
                もえちゃんが誕生日を迎えて、
                ますます可愛くて素敵な女性に
                なっていると思うよ。<br />
                もえちゃんと話すようになって
                まだ数か月だけど、
                いつも楽しい時間をありがとう。<br />
                映画やお笑いや嵐の話とか、こんなに趣味が合って話せる人は初めてです。<br />
                もえちゃんも自分と話すのが楽しいといつも言ってくれてありがとう。<br />
                いつか一緒に嵐のライブへ行けることを願っています。<br />
                そのときは、2人で二ノのことを思いっきり歓声をあげて応援しようね。<br />
                これからも仲良くしてくれると嬉しいです!<br />
                </p>
            
        </main>
        
        <footer>
            <p class="footer-text">by Riku Nakagawa<i class="fa-solid fa-pen-fancy"></i></p>
        </footer>
        
    </body>
</html>